/* General styles for the app */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

/* App bar at the top */
.app-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Search form container */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Controls the maximum width of the search bar */
  position: relative;
}

/* The search bar container with icon */
.search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #333;
  border-radius: 25px;
  padding: 10px 15px;
}

/* Style for the search input */
.search-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  outline: none;
  box-sizing: border-box;
}

/* The search icon inside the input */
.search-icon {
  color: #aeaeae; /* Spotify green */
  font-size: 1.9rem;
  margin-right: 10px;
}

/* Placeholder text color */
.search-input::placeholder {
  color: #bbb;
}

/* Error message styling */
.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
  .search-form {
    max-width: 100%; /* Allow the search bar to fill the width on smaller screens */
    padding: 10px;
  }

  .search-bar-container {
    padding: 8px 12px;
  }

  .search-input {
    font-size: 0.9rem;
  }

  .search-icon {
    font-size: 1rem;
  }
}
